**/generated/**
# Frequently used
# The Prettier Java plugin messes up the lambdas in these files pretty badly:
**/AutoConst*.java
# This is some older code:
**/ExperimentalSwerveDrive.java
**/swerve_util/**
**/SwerveDrivebaseSubsystem.java
**/*.xml
